{% extends 'base1.html' %}
{% block content %}

    <div class="container">
        <div class="col-md-4 col-lg-12 content-card">
            <div class="card-big-shadow">
                <div class="card card-just-text" data-background="color" data-color="blue" data-radius="none">
                    <div class="content">
                        
                        <h2 class="title"><b>{{ title }}</b></h2>
                        <hr class="new">
                        <p class="description">
                            {{summary}}
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock content %}


